.alert_message_large{
    color:red;
    font-size: 1.4em;
    font-family: monospace;
}

.alert_message_medium{
    color:red;
    font-size: 1.2em;
    font-family: monospace;
}


@media screen and (max-width: 640px){
  .alert_message_large{
    color:red;
    font-size: 1.2em;
    font-family: monospace;
}
.alert_message_medium{
    color:red;
    font-size: 1.0em;
    font-family: monospace;
}


}
@media screen and (max-width: 480px){
  .alert_message_large{
    color:red;
    font-size: 1.0em;
    font-family: monospace;
}
.alert_message_medium{
    color:red;
    font-size: 0.8em;
    font-family: monospace;
}

}