@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

input::placeholder { font-style: italic; font-family: 'Acme', sans-serif; }

.text_black{
    color:black;
}

.text_blue{
    color:#2BB9B7;
}

.text_red{
    color:red;
}

.text_white{
    color:white;
}

.text_large{
    font-size: 30px;
}

.text_medium{
    font-size: 20px;
}

.text_small{
    font-size: 15px;
}

.text_xsmall{
    font-size: 14px;
}

@media screen and (max-width: 640px){


.text_large{
    font-size: 28px;
}

.text_medium{
    font-size: 18px;
}

.text_small{
    font-size: 13px;
}

.text_xsmall{
    font-size: 12px;
}
}

@media screen and (max-width: 480px){

.text_large{
    font-size: 26px;
}

.text_medium{
    font-size: 16px;
}

.text_small{
    font-size: 12px;
}

.text_xsmall{
    font-size: 11px;
}
}