.insideContent {
    padding-left: 40px;
}

.startButton {
    border-radius : 0rem;
    width : 100%;
    background-color: #2BB9B7;
}

.explore{
    padding-right: 170px;
}

.projectNameFormat {
    text-transform: uppercase;
}
