.buttons {
    display: flex;
    justify-content: center;
    border-radius : 0rem;
    width : 100%;
}

.backButton {
    border-radius : 0rem;
    width : 40%;
}

.nextButton {
    border-radius : 0rem;
    width : 40%;
    background-color: #2BB9B7;  
}

.insideContent {
    padding-left: 20px;
}