.headerStepBanner
{
    height:400px;
    position:relative
}

.stepper
{
    height: 30%;
    position: absolute;
    bottom: 0;
    width : 100%
}

.banner
{
    height: 70%;
    width: 100%;
}

@media screen and (max-device-width: 640px){
  .stepper
    {
      position: absolute;
      top: 0;
        height: 30%;
        width : 100%
    }

    .banner
    {
        height: 70%;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

@media screen and (max-device-width: 480px){
  /* some CSS here */
}

.form-item input[type="text"]{
  margin-top: 5px;
  padding: 12px;
  display: block;
  /* color: #808b96; */
  color: #000000;
  font-size: 1.0625rem;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  -webkit-appearance: none;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  border: 2px solid #8ddef4;

  font-size: 1.1rem;
}
