.alert_message{
    color:red;
    font-size: 1.4em;
    font-family: monospace;
}


@media screen and (max-width: 640px){
  .alert_message{
    color:red;
    font-size: 1.2em;
    font-family: monospace;
}

}
@media screen and (max-width: 480px){
  .alert_message{
    color:red;
    font-size: 1.0em;
    font-family: monospace;
}
}