.two_button_div{
    width:70%;
    margin-left: 43%;
    /* margin-bottom: 10px; */
    align-items: center;    
    justify-content: center;
}

.two_button_left_button
{
    border-radius : 15px 0px 0px 15px;
    background-color:white;
    border:1px solid #2BB9B7;
    border-right: 0;
    font-size: 0.8em;
    width : 40%;
}


.two_button_right_button
{
    border-radius : 0px 15px 15px 0px;
    border:1px solid #2BB9B7;
    width : 40%;
    font-size: 0.8em;
    background-color: #2BB9B7;
}


@media screen and (max-width: 920px){
  .two_button_div{
    width:120%;
    margin-left: 2%;
    margin-bottom: 10px;
    align-text: center;
    justify-content: center;
    }
}


@media screen and (max-width: 720px){
  .two_button_div{
    width:120%;
    margin-left: 2%;
    margin-bottom: 10px;
    align-text: center;
    justify-content: center;
    }
}

@media screen and (max-width: 640px){
  .two_button_div{
    width:110%;
    margin-left: 5%;
    margin-bottom: 10px;
    align-text: center;
    justify-content: center;
    }
}

@media screen and (max-width: 480px){
  .two_button_div{
    width:110%;
    margin-left: 0%;
    margin-bottom: 10px;
    align-text: center;
    justify-content: center;
    }

    .two_button_left_button
    {
        border-radius : 15px 0px 0px 15px;
        background-color:white;
        border:1px solid #2BB9B7;
        border-right: 0;
        width : 40%;
    }

    .two_button_right_button
    {
        border-radius : 0px 15px 15px 0px;
        border:1px solid #2BB9B7;
        width : 40%;
        background-color: #2BB9B7;
    }
}