.login {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
}


.login-box__title {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
  text-align: center;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.5625rem;
  font-family: "Fredoka_One";
  color: #0b4c5e;
}


.form-item {
  margin-bottom: 20px;
}


.form-item input[type="email"],
.form-item input[type="text"],
.form-item input[type="password"] {
  padding: 5px !important;
  border: 2px solid #8ddef4 !important;
}

.login-form,
.pre-wrapper__label--center {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
  text-align: center;
  padding-bottom: 30px;
}

.login__field .submit-button,
.login__field .activity-next-btn,
.login__field .plan_compare_button,
.login__field .change_popup_button,
.login__field .sandbox-submit-button,
.login__field .sandbox-play-now-button,
.login__field .sandbox-read-more-button,
.login__field .daily-bee-submit-button,
.login__field .daily-bee-read-more-button,
.login__field .submit-button-right {
  width: 100%;
}

.submit-button,
.submit-button-right {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: #5dc8ce;
  border-color: #38b1b8;
  color: #ffffff;
  border-radius: 8px;
  transition: background-color 300ms ease-out;
  background-color: #5dc8ce;
  padding: 10px 30px;
  border-radius: 6px !important;
  width: 180px;
}