@media screen and (max-width: 640px){
    .page_details_main {
        margin-bottom: 30px;
    }
}
.buttonStyle
{
    border-radius : 15px 15px 15px 15px;
    border:1px solid #2BB9B7;
    width : 20%;
    font-size: 0.8em;
    background-color: #2BB9B7;
    margin-left: 750px;
    margin-bottom: 10px;
    align-text: center;
    justify-content: center;
}

@media screen and (max-width: 720px){
  .insideContent {
        padding-right: 10px;
        padding-left: 0px;
    }

    .buttonStyle {
    border-radius : 15px 15px 15px 15px;
    border:1px solid #2BB9B7;
    width : 20%;
    font-size: 0.8em;
    background-color: #2BB9B7;
        margin-left: 350px;
        margin-bottom: 10px;
    align-text: center;
    justify-content: center;
   }
}


.doneButton {
    width : 200px;
    color: #2BB9B7;
}

.btn-light:hover {
    color: #212529;
    background-color: rgb(13, 209, 206);
    border-color: #dae0e5;
}


.btn-light {
    color: white;
    background-color: #2BB9B7;
    border-color: #dae0e5;
}


.buttonDiv{
    padding-top: 3%;
    float: right;
    /* padding-left: 20%; */
}


@media screen and (max-device-width: 40em){
    .doneButton {
        width : 200px;
        color: #2BB9B7;
    }
    
    .btn-light:hover {
        color: #212529;
        background-color: rgb(13, 209, 206);
        border-color: #dae0e5;
    }
    
    
    .btn-light {
        color: white;
        background-color: #2BB9B7;
        border-color: #dae0e5;
    }
    
    .buttonDiv{
        padding-top: 3%;
        /* float: right; */
        padding-right: 20%;
    }
}
