.insideInfo {
    padding-left: 20px;
}

.projectTitle {
    padding-left: 20px;

}

.viewButton {
    border-radius: 0rem;
    width: 105%;
    background-color: #2BB9B7;
    padding: 4px;    
    border: 0px;    
}

.ProjectInfo_MainDiv{
    border-radius: 10px;
    border-style:solid;
    margin: 10px;
    margin-left: 1.5%;
    height:100%
}

.ProjectInfo_Container
{
    display:flex;
    margin:1%;
    height:100%;
}

.projectName {
    float : left;
}

.firstCell {
    padding-top: 3%;
    /* padding-left: 3%; */
    
}

.message {
    margin-top: 5%;
    padding-left: 35%;
    font: x-large; 
    color: darkgray;
}

.row {
     /* padding-top: 5px; */
    /* align-content: inline;  */
    width: 550px;
}

.content_section_box {

    margin-bottom: 1%;
    margin-left: 1%;
    width : 80%;
    border-radius: 10px;
    float: left;
    border: 1px solid;
    padding: 10px;

}

.stepperspace {
    width: 68%;
}

.stepperWidth {
    width: 100%;
}

.ActiveProjectInfo_Badge
{
    
    height: 10vw;
    width : 10vw;
    margin-top: 3%;
    margin-left: 3%;
    float:left
}

.textHeader {
    color: #2BB9B7;
    padding-left: 20px;    
    font-weight: bold;
    font-size: 20pt;
    padding-bottom: 2%;
}

.ActiveProjectInfo_Text
{
    float: right;
    width: 74%;
}

.text_black {
    text-align: start;
}

.horizontal_line
{
    display: none;
}



@media screen and (max-device-width: 1700px){
    .content_section_box {

        margin-bottom: 1%;
        margin-left: 1%;
        width : 80%;
        border-radius: 10px;
        float: left;
        border: 1px solid;
        padding: 10px;
    
    }

    .ActiveProjectInfo_Text {
        width: 70%;
        float: left;
    }
}


@media screen and (max-device-width: 920px){
    .content_section_box {

        margin-bottom: 1%;
        margin-left: 1%;
        width : 80%;
        border-radius: 10px;
        float: left;
        border: 1px solid;
        padding: 10px;
    
    }

    .ActiveProjectInfo_Text
    {        
        width: 72%;
    }

    .horizontal_line
    {
        display: none;
    }
  }


@media screen and (max-device-width: 720px){
    .content_section_box {

        margin-bottom: 1%;
        margin-left: 1%;
        width : 80%;
        border-radius: 10px;
        float: left;
        border: 1px solid;
        padding: 10px;
    
    }

    .ActiveProjectInfo_Text
    {        
        width: 68%;
    }

    .horizontal_line
    {
        display: none;
    }
}



@media screen and (max-width: 480px){

    .ProjectInfo_Badge
    {
        width:40%;
    }

    .ProjectInfo_Text
    {
        width:60%;
    }

    .content_project_info
    {
        display: block;
    }
    .content_project_info_vertical
    {
        display: none;
    }
    .content_section_box
    {     
        width:100%;
        float:left;
        border: 0;
    }

    .ActiveProjectInfo_Text {
        width: 80%;
    }

    .text_black_heading {
        font-size: 1.3em;        
    }
    .text_black {
        width: fit-content;
    }

    .ActiveProjectInfo_Badge {
        height: 17vw;        
        margin-top: 7%;
    }

    .horizontal_line
    {
        display: block;
        background-color: black;
        
    }

    .message {
        padding-left: 24%;
    }

    .textHeader {        
        padding-bottom: 5%;
    }
}


